<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off">
    <div class="col left">
    </div>

    <div class="col middle">
    </div>

    <div class="col right">
        <div class="control-icon {{visibilityClass}}" data-action="visibility">
            <img src="{{icons.visibility}}" width="36" height="36" title="{{localize "HUD.ToggleVis"}}"/>
        </div>
        <div class="control-icon" data-action="play">
            <i class="fas fa-chevron-circle-right"></i>
        </div>
    </div>
</form>
